*
{
	margin:0;
	padding:0;
	
}


header
{
background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/background.jpg);


height:100vh;
background-size:cover;
background-position:center;
box-sizing:border-box;
}
.menu
{ 

 text-align:center;


}


.menu ul
{

float:right;
list-style-type:none;
margin-top:20px;
}
.menu ul li
{
	
	display:inline-block;
	font-size:20;
	background-color:gray;

	
}
/*................anchor tag.....................*/
.menu ul li a
{
text-decoration:none;
padding:1px 30px;
color:#fff;
border:2px solid white;
transition:0.8s ease;
}
/*.................menu listn  hover design...............*/
.menu ul li:hover
{
color:black;
background-color:purple;
}
/*..................logo style................*/
.logo img{
	float:left;
	width:100px;
	height:auto;
	padding-top:10px;
	
}
/*.....................menu max size.................*/
.menu
	{
		max-width:1200px;
		margin:auto;
		
	}
	/*.................text style.................*/
	.h1
	{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	
	}
	
	.h1 h1{
		
		color:white;
		font-size:40;
	}
	.botton{
		
			position:absolute;
		top:60%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	
.btn
{
	font-size:20;
	border:1px solid #fff;
	padding:10px 30px;
	color:#fff;
	text-decoration:none;
	transition:0.6s ease;
}
.btn:hover
{
color:white;
background-color:purple;
}

	