*
{
	margin:0;
	padding:0;
	
}

body
{
background-image:url(../image/1.png);
height:100vh;
background-size:cover;
background-position:center;
box-sizing:border-box;
}
.menu-bar
{ 

 text-align:center;
}

.menu-bar ul
{

float:right;
list-style-type:none;

}
.menu-bar ul li
{
display:inline-block;
width:120px
margin:15px;
padding:15px;
}
.menu-bar ul li a
{
text-decoration:none;
padding:5px 20px;
color:#fff;
}

.menu-bar ul li:hover
{

background:black;
border-radius:3px;
}